//====================================================================================================
.header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 10;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    &__hide{
    	width: 100%;
    	background: #03A06C;
    	height: 20px;
    	position: fixed;
    	z-index: 11;
    	top: 0;
    	left: 0;
    	@media(max-width: $md2+px){
    		height: 15px;
    	}
    	@media(max-width: $md3+px){
    		height: 10px;
    	}
    	@media(max-width: $md4+px){
 		   	height: 5px;
    	}
   	}
    &._scroll{
    	@media(min-width: 1025px){
    		transition: .4s linear;
    		top: -100px;
    		&:hover{
    			transition: .2s linear;
   				top: 0;
   			}
    	}
    }
	/* .header__content */
	&__content {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 12px;
		@media(max-width: $md2+px){
    		margin-top: 15px;
    	}
    	@media(max-width: $md3+px){
    		margin-top: 10px;
    		padding-top: 14px;
			padding-bottom: 14px;
    	}
    	@media(max-width: $md4+px){
 		   	margin-top: 5px;
    	}
	}
	/* .header__logo */
	&__logo{
	}
	/* .header__hotline */
	&__nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 298px;
		text-align: left;
	}
	&__hotline {
		@media (max-width: $md3+px) {
			display: none;
		}
		p{
			font-size: 14px;
			line-height: math.div(18, 14)  * 100%;
			color: rgba(0, 0, 0, 0.3);
		}
		a{
			font-weight: 600;
			font-size: 20px;
			line-height: math.div(25, 20)  * 100%;
			color: rgba(0, 0, 0, 0.8);
		}
	}
	/* .header__login */
	&__login {
		width: 30px;
		flex: none;
		@media(max-width: $md3+px){
			width: 25px;
			margin: 0px 0px 0px 31px;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
}
.logo {
	max-width: 381px;
	/* .logo__wrap */
	&__wrap {
		display: flex;
		align-items: center;
	}
	/* .logo__img */
	&__img {
		margin-right: 16px;
		width: 67px;
		flex: none;
		@media(max-width: $md3+px){
			width: 47px;
			margin-right: 10px;
		}
		img{
			max-width: 100%;
			height: auto;
		}
	}
	/* .logo__title */
	&__title {
		font-size: 22px;
		line-height: math.div(28, 22)  * 100%;
		@media(max-width: $md3+px){
			font-size: 16px;
			line-height: math.div(20, 16)  * 100%
		}

	}
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
