@import url("https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,800&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,600,700,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansXBold";
  font-display: swap;
  src: url("../fonts/OpenSansXBold.woff") format("woff"), url("../fonts/OpenSansXBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Source Sans Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Source Sans Pro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.form__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto;
  -ms-grid-columns: 58.6734693878% 20px 38.7755102041%;
      grid-template: auto auto/58.6734693878% 38.7755102041%;
  grid-gap: 20px;
}

.form__line {
  max-width: 100%;
}

.form__line:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.form__line:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.form__line:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

.form__line:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

.form__button button {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19.5px 0px;
}

.btn {
  font-weight: 600;
  font-size: 19px;
  line-height: 126.3157894737%;
  color: #03A06C;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  border: 1px solid #03A06C;
  border-radius: 10px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  padding: 18px 21px 18px 25px;
  color: rgba(0, 0, 0, 0.7);
  background: #FFFFFF;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.7);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.7);
}

.select__options {
  color: #808080;
  display: none;
  position: absolute;
  min-width: 100%;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 20px;
  line-height: 125%;
  padding: 10px 0px;
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.select__options::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #E0E0E0;
}

.select__options::-webkit-scrollbar {
  width: 7px;
  background-color: #E0E0E0;
}

.select__options::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #03A06C;
}

.select__option {
  cursor: pointer;
  padding: 10px 18px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  border: 1.5px solid rgba(65, 65, 65, 0.3);
  border-radius: 8px;
  width: 100%;
  display: block;
  padding: 18px 42.54px 18px 16.81px;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.input._focus {
  border: 1.5px solid #03A06C;
}

.input._error {
  border: 1.5px solid red;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.input._date {
  background-image: url("../img/icons/date.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  background-size: 25px;
  cursor: pointer;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    timing-function: ease-in;
  }

  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    timing-function: ease-out;
  }

  40% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    timing-function: ease-in;
  }

  60% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    timing-function: ease-out;
  }

  80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    timing-function: ease-in;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    timing-function: ease-in;
  }

  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    timing-function: ease-out;
  }

  40% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    timing-function: ease-in;
  }

  60% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    timing-function: ease-out;
  }

  80% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    timing-function: ease-in;
  }
}

.title {
  font-weight: bold;
  color: #203538;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.qs-datepicker-container:before,
.qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: #fff;
  color: #4d4d4d;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  color: #4d4d4d;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: #f6f6f6;
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: #4d4d4d;
  border-color: #4d4d4d;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #fff;
  color: #fff;
  color: #4d4d4d;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: #4d4d4d;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: #4d4d4d;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid #4d4d4d;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d4d4d;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: #4d4d4d;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: #d1d1d1;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #f6f6f6;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__desc {
  font-size: 24px;
  line-height: 158.3333333333%;
  color: rgba(32, 53, 56, 0.9);
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  /* .header__content */
  /* .header__logo */
  /* .header__hotline */
  /* .header__login */
}

.header__hide {
  width: 100%;
  background: #03A06C;
  height: 20px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 298px;
  text-align: left;
}

.header__hotline p {
  font-size: 14px;
  line-height: 128.5714285714%;
  color: rgba(0, 0, 0, 0.3);
}

.header__hotline a {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: rgba(0, 0, 0, 0.8);
}

.header__login {
  width: 30px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.header__login img {
  max-width: 100%;
  height: auto;
}

.logo {
  max-width: 381px;
  /* .logo__wrap */
  /* .logo__img */
  /* .logo__title */
}

.logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  margin-right: 16px;
  width: 67px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.logo__img img {
  max-width: 100%;
  height: auto;
}

.logo__title {
  font-size: 22px;
  line-height: 127.2727272727%;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  color: rgba(0, 0, 0, 0.8);
  background: #F6F6F6;
}

.footer__body {
  padding: 32px 0px 62px 0px;
}

.footer__top {
  margin: 0px 0px 34px 0px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 275px 240px 1fr;
  -ms-grid-columns: 275px 22px 240px 22px 1fr;
  grid-column-gap: 22px;
}

.footer__sections {
  -ms-grid-column: 1;
}

.footer__info {
  -ms-grid-column: 3;
}

.footer__contacts {
  -ms-grid-column: 5;
}

.footer__title {
  font-family: Open Sans;
  font-weight: 800;
  font-size: 18px;
  line-height: 138.8888888889%;
  margin: 0px 0px 10px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.footer__info-text {
  font-size: 14px;
  line-height: 135.7142857143%;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__col:last-child {
  margin: 0px 0px 0px 40px;
}

.footer__address {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 150%;
  margin: 0px 0px 10px 0px;
}

.footer__support {
  font-size: 14px;
  line-height: 128.5714285714%;
  font-family: Open Sans;
}

.footer__support a {
  font-weight: 700;
  color: #03A06C;
}

.footer__text {
  font-size: 14px;
  line-height: 128.5714285714%;
}

* {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 116px;
}

.page__main-page {
  margin: 30px 0px 40px 0px;
}

.page__news {
  margin: 0px 0px 40px 0px;
}

.page__articles {
  margin: 0px 0px 40px 0px;
}

.main-page__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr auto;
      grid-template: auto auto/1fr auto;
  position: relative;
}

.main-page__form {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  max-width: 849px;
}

.main-page__banner {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: end;
      align-self: end;
}

.main-page__cards {
  max-width: 300px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 span;
  margin: 0px 0px 0px 20px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.form-mp__title {
  font-weight: 900;
  font-size: 28px;
  line-height: 125%;
  margin: 0 0 30px 0;
  color: #203538;
}

.tabs-mp {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 20px 0px;
}

.tabs-mp__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-mp__item {
  cursor: pointer;
  background: #f6f6f6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.7);
}

.tabs-mp__item._active {
  background: #ffffff;
  color: #4d4d4d;
}

.tabs-mp__body {
  padding: 30px 40px 40px 25px;
}

.tabs-mp__spoller-btn {
  display: none;
}

._no-webp .banner-mp__body{
  background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble.png"), -webkit-gradient(linear, left top, right top, from(#d4fc79), to(#03a06c)); }

._no-webp .banner-mp__body{
  background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble.png"), -o-linear-gradient(left, #d4fc79 0%, #03a06c 100%); }

._no-webp .banner-mp__body{
  background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble.png"), linear-gradient(90deg, #d4fc79 0%, #03a06c 100%); }

.banner-mp__body {
  width: 100%;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 45px 0 43px;
  overflow: hidden;
  position: relative;
}

.banner-mp__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.1648998822%;
          flex: 0 0 40.1648998822%;
  margin: 0px 10px 0px 0px;
  z-index: 1;
}

.banner-mp__title {
  font-family: Arial;
  font-size: 20px;
  line-height: 115%;
  color: #ffffff;
  margin: -5px 0px 4px 0px;
}

.banner-mp__subtitle {
  font-family: Arial;
  font-size: 16px;
  line-height: 112.5%;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.banner-mp__list {
  margin: 0px 18px 0px 0px;
}

.banner-mp__list li {
  background: url("../img/icons/list-dash.svg") 0 6px no-repeat;
  padding: 0px 30px 0px 32px;
  font-family: Arial;
  font-size: 16px;
  line-height: 112.5%;
  color: #ffffff;
}

.banner-mp__list li:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.banner-mp__qr-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 21px 0px 0px;
}

.banner-mp__qr-code img {
  margin: 0px 0px 10px 0px;
  max-width: 100%;
}

.banner-mp__qr-code p {
  font-family: Roboto;
  color: #ffffff;
  font-size: 12px;
  line-height: 116.6666666667%;
}

.banner-mp__phone {
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner-mp__badges {
  display: none;
}

.cards-mp__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 152px;
}

.card-mp {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 90px 1fr;
      grid-template: auto auto/90px 1fr;
  padding: 13px 9px 13px 0;
  position: relative;
}

.card-mp__img {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  text-align: center;
}

.card-mp__img img {
  max-width: 100%;
  max-height: 100%;
}

.card-mp__spoller-btn {
  display: none;
  position: absolute;
  width: 20px;
  height: 21px;
  top: 10px;
  right: 10px;
  background-image: url("../img/icons/more.svg");
}

.card-mp__title {
  margin: 0px 0px 5px 0px;
  font-size: 18px;
  line-height: 127.7777777778%;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.card-mp__desc {
  font-size: 14px;
  line-height: 128.5714285714%;
  color: rgba(32, 53, 56, 0.9);
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.news {
  background: #f6f6f6;
  padding: 0px 0px 55px 0px;
}

.news__title {
  padding: 20px 0px 20px 0px;
  text-align: end;
}

.news__title a {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #03A06C;
}

.slider-news {
  position: relative;
  min-width: 0;
}

.slider-news__body {
  height: 100%;
}

.slide-news__body {
  height: 100%;
}

.slide-news__img {
  display: block;
  height: 152px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  margin: 0px 0px 13px 0px;
}

.slide-news__img img {
  border-radius: 10px;
  max-width: 100%;
}

.slide-news__title {
  margin: 0px 0px 12px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 127.7777777778%;
  color: #203538;
}

.slide-news__desc {
  font-size: 16px;
  line-height: 125%;
  color: rgba(32, 53, 56, 0.9);
}

.control-slider-news__arrow {
  position: absolute;
  top: calc(152px / 2);
  width: 100%;
}

.control-slider-news__arrow_prev {
  position: absolute;
  background: url("../img/icons/p-left.svg") center no-repeat;
  z-index: 3;
  left: -12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}

.control-slider-news__arrow_next {
  position: absolute;
  background: url("../img/icons/p-right.svg") center no-repeat;
  z-index: 3;
  right: -12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}

.control-slider-news__pagging {
  display: block;
  text-align: center;
  position: relative;
  top: 24px;
}

.control-slider-news__pagging .swiper-pagination-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(3, 160, 108, 0.3);
}

.control-slider-news__pagging .swiper-pagination-bullet:not(:last-child) {
  margin: 0px 8.89px 0px 0px;
}

.control-slider-news__pagging .swiper-pagination-bullet-active {
  background: #03A06C;
}

.articles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles__main {
  max-width: 773px;
  width: 100%;
  height: 100%;
  margin: 0px 20px 0px 0px;
}

.articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 25px 45px 25px;
}

.articles__title {
  font-size: 20px;
  line-height: 125%;
  margin: 0px 0px 28px 0px;
}

.articles__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.articles__more {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #03A06C;
}

.article {
  margin: 0px 0px 25px 0px;
}

.article:last-child {
  margin: 0px 0px 45px 0px;
}

.article__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: rgba(32, 53, 56, 0.9);
  margin: 0px 0px 8px 0px;
}

.article__desc {
  font-size: 16px;
  line-height: 125%;
  color: rgba(32, 53, 56, 0.9);
}

.departaments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 377px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 13px 45px 25px;
}

.departaments__title {
  font-size: 20px;
  line-height: 125%;
  margin: 0px 0px 6px 0px;
}

.departaments__list {
  margin: 0px 0px 11px 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.departaments__link {
  font-weight: 600;
  font-size: 14.5px;
  line-height: 194%;
  color: rgba(32, 53, 56, 0.9);
}

._no-webp body.ie img.error{
  background: url("../img/icons/no-image.png") 0 0 center no-repeat; }

@media (min-width: 579.98px) {
  .control-slider-news__pagging {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .cards-mp__item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  .btn:active {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px);
  }
}

@media (min-width: 1025px) {
  .header._scroll {
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    top: -100px;
  }
}

@media (min-width: 1025px) and (any-hover: hover) {
  .header._scroll:hover {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    top: 0;
  }
}

@media (max-width: 1212px) {
  .tabs-mp__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .tabs-mp__body {
    padding: 30px 25px 30px 25px;
  }

  .banner-mp__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 0px 0px;
  }

  .banner-mp__phone {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .header__hide {
    height: 15px;
  }

  .header__content {
    margin-top: 15px;
  }

  .footer__top {
    grid-template-columns: auto auto auto;
    -ms-grid-columns: 170px 20px 150px 20px 1fr;
  }

  .page {
    margin-top: 111px;
  }

  .main-page__content {
    -ms-grid-rows: auto auto auto;
    -ms-grid-columns: 1fr;
        grid-template: auto auto auto/1fr;
  }

  .main-page__form {
    max-width: none;
  }

  .main-page__banner {
    -ms-grid-row: 3;
    grid-row: 3;
    margin: 0 -20px;
  }

  .main-page__cards {
    max-width: none;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-row-span: 1;
    margin: 0px 0px 20px 0px;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }

  .cards-mp__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .departaments {
    max-width: 300px;
  }

  body.ie .cards-mp__body {
    -ms-grid-columns: 1fr 20px 1fr;
    -ms-grid-rows: 1fr 20px 1fr;
  }

  body.ie .cards-mp__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }

  body.ie .cards-mp__item:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }

  body.ie .cards-mp__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }

  body.ie .cards-mp__item:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 20px;
  }

  .form__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 30px 0px;
  }

  .form__button button {
    padding: 14px 0;
  }

  .btn {
    font-size: 16px;
    line-height: 125%;
    border-radius: 6px;
  }

  .select__title {
    padding: 15px 20px;
    color: #939393;
    font-size: 16px;
    line-height: 125%;
    background: rgba(3, 160, 108, 0.07);
    border-radius: 6px;
    border: none;
  }

  .select__value {
    font-size: 16px;
    line-height: 125%;
    color: #939393;
  }

  .select__value:before {
    width: 10px;
    height: 5px;
    background: url("../img/icons/select-mobile.svg") center/100% no-repeat;
  }

  .select__input {
    font-size: 16px;
    line-height: 125%;
    color: #939393;
  }

  .select__options {
    color: #939393;
    background: #edf8f5;
    border: none;
    font-size: 16px;
    line-height: 125%;
    max-height: 250px;
  }

  .input {
    background: rgba(3, 160, 108, 0.07);
    border-radius: 6px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 125%;
    color: #939393;
  }

  .input._focus {
    padding: 13.5px 20px;
  }

  .input._error {
    padding: 13.5px 20px;
  }

  .input._date {
    background-size: 20px;
  }

  ._tabs-block {
    display: block;
  }

  .header__hide {
    height: 10px;
  }

  .header__content {
    margin-top: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .header__hotline {
    display: none;
  }

  .header__login {
    width: 25px;
    margin: 0px 0px 0px 31px;
  }

  .logo__img {
    width: 47px;
    margin-right: 10px;
  }

  .logo__title {
    font-size: 16px;
    line-height: 125%;
  }

  .footer__top {
    -ms-grid-columns: none;
    grid-template-columns: none;
    grid-row-gap: 20px;
  }

  .footer__title {
    font-size: 20px;
    font-weight: bold;
  }

  .footer__link {
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
  }

  .footer__info-text {
    font-size: 16px;
    line-height: 137.5%;
  }

  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__col:last-child {
    margin: 20px 0px 0px 0px;
  }

  .footer__bottom {
    color: #939393;
  }

  .page {
    margin-top: 90px;
  }

  .page__main-page {
    margin: 30px 0px 20px 0px;
  }

  .page__news {
    margin: 0px 0px 30px 0px;
  }

  .page__articles {
    margin: 0px 0px 30px 0px;
  }

  .form-mp__title {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
    line-height: 127.7777777778%;
  }

  .tabs-mp {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .tabs-mp__item {
    display: none;
  }

  .tabs-mp__body {
    padding: 0px 0px 0px 0px;
  }

  .tabs-mp__spoller-btn {
    display: block;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 150%;
    border-radius: 6px;
    background-position: 0 18px;
    background-repeat: no-repeat;
    background-size: 40px;
    padding: 28px 0px 28px 70px;
  }

  .tabs-mp__spoller-btn._active {
    background-position: 0 20px;
    background-size: 20px;
    padding: 18px 0px 18px 30px;
  }

  .tabs-mp__spoller-btn.icon_person {
    background-image: url("../img/icons/person.svg");
  }

  .tabs-mp__spoller-btn.icon_entity {
    background-image: url("../img/icons/entity.svg");
  }

  .tabs-mp__spoller-btn.icon_IP {
    background-image: url("../img/icons/IP.svg");
  }

  .tabs-mp__spoller-btn.icon_ID {
    background-image: url("../img/icons/ID.svg");
  }

  .tabs-mp__block {
    padding: 0px 20px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
  }

  .banner-mp__body {
    padding: 20px 26px;
    min-height: 215px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 0;
  }

  .banner-mp__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .banner-mp__title {
    margin: 0px 0px 6px 0px;
    font-size: 18px;
    line-height: 116.6666666667%;
  }

  .banner-mp__subtitle {
    margin: 0px 0px 0px 0px;
  }

  .banner-mp__list li {
    display: none;
  }

  .banner-mp__qr-code {
    display: none;
  }

  .banner-mp__phone {
    left: 51px;
    display: block;
  }

  .banner-mp__badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 50px;
    right: 27px;
    z-index: 5;
  }

  .banner-mp__badges :first-child {
    margin-bottom: 6px;
  }

  .cards-mp__item {
    border-radius: 4px;
    border: 2px solid #03a06c;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .card-mp__title {
    font-size: 16px;
    line-height: 125%;
    color: #03a06c;
  }

  .card-mp__desc {
    line-height: 150%;
    color: #4d4d4d;
  }

  .news {
    padding-bottom: 50px;
  }

  .news__title {
    padding: 10px 0px 10px 0px;
  }

  .news__title a {
    line-height: 150%;
  }

  .articles__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .articles__main {
    margin: 0px 0px 30px 0px;
  }

  .articles__body {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: none;
  }

  .articles__title {
    margin: 0px 0px 20px 0px;
  }

  .article:last-child {
    margin: 0px 0px 20px 0px;
  }

  .departaments {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: none;
  }

  .departaments:before {
    content: "";
    border: 1px solid rgba(219, 219, 219, 0.4);
    margin: 0 -20px;
  }

  .departaments__title {
    margin: 30px 0px 20px 0px;
  }

  .departaments__list {
    margin: 0px 0px 20px 0px;
  }

  .departaments__link {
    font-size: 16px;
    line-height: 193.75%;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .cards-mp__item {
    min-height: 100px;
  }
}

@media (max-width: 600px) {
  .cards-mp__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
  }

  body.ie .cards-mp__body {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
  }

  body.ie .cards-mp__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }

  body.ie .cards-mp__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }

  body.ie .cards-mp__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }

  body.ie .cards-mp__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
  }
}

@media (max-width: 579.98px) {
  .news {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  }

  .control-slider-news__arrow_prev {
    display: none;
  }

  .control-slider-news__arrow_next {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .header__hide {
    height: 5px;
  }

  .header__content {
    margin-top: 5px;
  }

  .page {
    margin-top: 85px;
  }

  ._no-webp .banner-mp__body{
    background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble-mobile.png"), -webkit-gradient(linear, left top, right top, from(#d4fc79), to(#03a06c)); }

  ._no-webp .banner-mp__body{
    background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble-mobile.png"), -o-linear-gradient(left, #d4fc79 0%, #03a06c 100%); }

  ._no-webp .banner-mp__body{
    background-image: url("../img/mobile-app/ellipse.png"), url("../img/mobile-app/rubble-mobile.png"), linear-gradient(90deg, #d4fc79 0%, #03a06c 100%); }

  .card-mp {
    padding: 0px 35px 0px 0px;
    height: 100%;
    width: 100%;
    -ms-grid-rows: 100px;
    -ms-grid-columns: 99px 1fr;
        grid-template: 100px/99px 1fr;
  }

  .card-mp._active {
    padding: 0 35px 20px 0;
    -ms-grid-rows: 78px auto;
    -ms-grid-columns: 99px auto;
        grid-template: 78px auto/99px auto;
  }

  .card-mp._active .card-mp__desc {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .card-mp._active .card-mp__img {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }

  .card-mp__img {
    grid-row: auto;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .card-mp__spoller-btn {
    display: block;
  }

  .card-mp__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }

  .card-mp__desc {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    padding: 0 0 0 36px;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .popup__close:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .tabs-mp__item:hover {
    color: #4d4d4d;
  }

  .news__title a:hover {
    text-decoration: underline;
  }

  .slide-news__img img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .articles__more:hover {
    text-decoration: underline;
  }

  .article__title:hover {
    text-decoration: underline;
  }

  .departaments__link:hover {
    text-decoration: underline;
  }
}

._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble.webp), -webkit-gradient(linear, left top, right top, from(#d4fc79), to(#03a06c)); }

._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble.webp), -o-linear-gradient(left, #d4fc79 0%, #03a06c 100%); }

._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble.webp), linear-gradient(90deg, #d4fc79 0%, #03a06c 100%); }

._webp body.ie img.error{ background: url(../img/icons/no-image.webp) 0 0 center no-repeat; }

@media (max-width: 479.98px){

  ._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble-mobile.webp), -webkit-gradient(linear, left top, right top, from(#d4fc79), to(#03a06c)); }
}

@media (max-width: 479.98px){

  ._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble-mobile.webp), -o-linear-gradient(left, #d4fc79 0%, #03a06c 100%); }
}

@media (max-width: 479.98px){

  ._webp .banner-mp__body{ background-image: url(../img/mobile-app/ellipse.webp), url(../img/mobile-app/rubble-mobile.webp), linear-gradient(90deg, #d4fc79 0%, #03a06c 100%); }
}